@model MVC_App.Models.Administrator.ParentModel

@{
    ViewBag.Title = "AnswerCharacteristics";
}

@{
    string[] imgs = {
    "https://tsbbankwallaceartscentre.org.nz/wp-content/uploads/2011/01/65fa961e-8f22-4fe6-a420-3c3c26dd2953.jpg._CB289161999__SL300__.jpg",
    "http://www.earnthenecklace.com/wp-content/uploads/2016/06/Jon-Snow-HBO-300x300.jpg",
    "http://worldartsme.com/images/garfield-the-cat-clipart-1.jpg",
    "https://media.gunaxin.com/wp-content/uploads/2017/02/Batman-300x300.jpg",
    "https://www.pinknews.co.uk/images/2014/09/Dumbledore2.jpg"
    };

}

<div>
    <h1>Answer your personal info.</h1>
</div>
<div class="form-group">
    <div class="col-md-10">
        <h3  id="qu-info">@Html.DisplayFor(model => model.Characteristic.Text)</h3>
    </div>
</div>
<div class="form-horizontal">



    @{ Html.BeginForm("AnswerCharacteristics", "Customer", FormMethod.Post, new { @id = "myForm" }); }

    @{
        int i = 0;
        <div class="row">
            @foreach (var answer in Model.Characteristic.answers_to_characteristic)
            {
                <div class="col-sm-5 round-box" >
                    <label>
                        <div>
                            <div>
                                @Html.RadioButtonFor(x => x.Characteristic.answers_to_characteristic, answer.ans_ch_id)
                                <font size="4"> @answer.Text </font>
                            </div>
                            <div class="res-img">
                                <img src="@Url.Content(imgs[i])" class="img-rounded" width="150" height="150" />
                            </div>
                        </div>

                    </label>
                </div>
                i++;
            }

        </div>
    }

</div>

<br>


<div class="container">

    <input type="submit" value="Finish" class="btn btn-lg btn-primary btn-block" disabled/>

</div>

@{ Html.EndForm(); }

<script>
    $('#myForm').change(function (event) {
        $(".btn").removeAttr("disabled")
    })
</script>