
@{
    ViewBag.Title = "Finish";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1>Thanks for your time!</h1>
</div>

<div>
    <button>@Html.ActionLink("Go to question", "Index")</button>
</div>

