<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/chat-page.css">

</head>
<body>
    <div class="chat-container">
        <input type="text" class="chat-name" placeholder="Enter your name">
        <div class="chat-messages">
        </div>
        <textarea class="chat-text" placeholder="Type your message"></textarea>
        <div class="chat-status"> Status: <span>Idle</span></div>
    </div>
</body>
</html>