<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icons of font-awesome -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/index-page.css">

    <script type="text/javascript" src="../public/animations/index-page.js"></script>
    <title>Home</title>
</head>
<body>
<header>
    <nav id="navbar">
        <ul>
            <li><i class="fab fa-grav"></i></li>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li class="li-right">
                <div class="button"><a class="active" href="login.html">Log In <i class="fas fa-sign-in-alt"></i></a>
                </div>
            </li>
        </ul>
    </nav>
</header>

<main>

        <h1>Mindset</h1>
        <p><span
                class="txt-animation"
                data-period="100"
                data-rotate='[ "WHAT’S HAPPENING IN THE WORLD",  "WHERE IDEAS BEGIN.", "WHAT PEOPLE ARE TALKING ABOUT." ]'></span></p>
</main>

<footer>
    <p>
        While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy.
        Copyright  <i class="fa fa-copyright" aria-hidden="true"></i> 2018.
        All Rights Reserved.
    </p>
</footer>

</body>
</html>