<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icons of font-awesome -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/login-page.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/password-reset.css">
</head>
<body>
<h1>Password Reset</h1>
<footer>
    <p>
        While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy.
        Copyright  <i class="fa fa-copyright" aria-hidden="true"></i> 2018.
        All Rights Reserved.
    </p>
</footer>
</body>
</html>